.root {
    -fx-background-color: transparent;
    -fx-font-family: "Roboto", sans-serif;
}

.panel {
    -fx-background-color: #263238;
}

.window-buttons {
    -fx-font-size: 30;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-pref-height: 20;
    -fx-pref-width: 40;
    -fx-padding: -200; /* hack: used to resize the button */
}

.close-button {
    -fx-text-fill: #455A64;
}


.title-small {
    -fx-font-size: 17px;
    -fx-text-fill: #4d646e;
}
.title-big {
    -fx-font-size: 30;
}

.selected {
    -fx-background-color: #222a2e;
    -fx-background-radius: 4px;
    -fx-padding: 0 5px;
}