@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto-Regular.ttf");
}

.root {
    -fx-background-color: transparent;
    -fx-font-family: "Roboto", sans-serif;
}

.panel {
    -fx-background-color: #263238;
}

.window-buttons {
    /*-fx-font-family: Arial;*/
    -fx-font-size: 30;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-pref-height: 20;
    -fx-pref-width: 40;
    -fx-padding: -200; /* hack: used to resize the button */
}

.close-button {
    -fx-text-fill: #455A64;
}