.root {
    -fx-background-color: transparent;
    -fx-mid-text-color: #cfd8dc;
    -fx-text-fill: #cfd8dc;
    -fx-default-button: #F44336;
    -fx-font-family: "Roboto", sans-serif;
}

#bar, .sidebar {
    -fx-background-color: #263238;
}

.panel {
    -fx-background-color: #37474F;
}

.button {
    -fx-background-color: #F44336;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: #9dcce1;
}

.text-field {
    -fx-background-color: #2b3033;
}

.window-buttons {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-size: 20px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.close-button {
    -fx-background-image: url("/assets/images/icons/close.png");
}

.maximize-button {
    -fx-background-image: url("/assets/images/icons/maximize.png");
}


.text-error {
    -fx-text-fill: #9b3b27;
}

.title-small {
    -fx-font-size: 17px;
    -fx-text-fill: #4d646e;
}

.title-big {
    -fx-font-size: 30;
}

.selected {
    -fx-background-color: #222a2e;
    -fx-background-radius: 4px;
    -fx-padding: 0 5px;
}

.hidden {
    visibility: hidden;
}